<?xml version="1.0"?>
<config>
    <modules>
        <SM_Pzoom>
            <version>1.0.0</version>
        </SM_Pzoom>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sm_pzoom>
                    <file>sm_pzoom.xml</file>
                </sm_pzoom>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <sm_pzoom>
                <class>SM_Pzoom_Block</class>
            </sm_pzoom>
        </blocks>
        <helpers>
            <sm_pzoom>
                <class>SM_Pzoom_Helper</class>
            </sm_pzoom>
        </helpers>
        <models>
            <sm_pzoom>
                <class>SM_Pzoom_Model</class>
            </sm_pzoom>
        </models>
    </global>
    <default>
        <sm_pzoom>
            <general>
                <enable>1</enable>
            </general>
            <main_image>
                <size>default</size>
            </main_image>
            <box_zoom>
                <size>default</size>
            </box_zoom>
            <thumbnail>
                <size>default</size>
            </thumbnail>
        </sm_pzoom>
    </default>
</config>