/*
!.gitignore

!app
app/*

!app/code
app/code/*
!app/code/local
app/code/local/*
!app/code/local/SM

!app/design
app/design/install

app/design/frontend/*
!app/design/frontend/rwd
app/design/frontend/rwd/*
!app/design/frontend/rwd/sm

app/design/adminhtml/default/default/*
!app/design/adminhtml/default/default/layout
app/design/adminhtml/default/default/layout/*
!app/design/adminhtml/default/default/layout/sm_*

!app/etc
app/etc/*
!app/etc/modules
app/etc/modules/*
!app/etc/modules/SM_*

!skin
skin/*
!skin/frontend
skin/frontend/*
!skin/frontend/rwd
skin/frontend/rwd/*
!skin/frontend/rwd/sm
skin/frontend/rwd/sm/scss/.sass-cache

!dev
